In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("tripadvisor_hotel_reviews.csv")
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
df.tail()

                                                  Review  Rating
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

In [4]:
df.shape

(20491, 2)

In [5]:
df.isnull().sum()

Review    0
Rating    0
dtype: int64

In [6]:
blanks=[]
for index in df['Review']:
    if index.isspace() == True:
        blanks.append(index)

In [7]:
blanks

[]

In [8]:
df['Rating'].value_counts().sort_values()

1    1421
2    1793
3    2184
4    6039
5    9054
Name: Rating, dtype: int64

In [17]:
def rating(rating):
    if rating > 3 and rating <= 5:
        return 'Positive'
    if rating > 0 and rating <= 3:
        return 'Negative'

In [18]:
df['Positive/Negative'] = df['Rating'].apply(rating)

In [19]:
df.head()

                                              Review  Rating Positive/Negative
0  nice hotel expensive parking got good deal sta...       4          Positive
1  ok nothing special charge diamond member hilto...       2          Negative
2  nice rooms not 4* experience hotel monaco seat...       3          Negative
3  unique, great stay, wonderful time hotel monac...       5          Positive
4  great stay great stay, went seahawk game aweso...       5          Positive

# Sentiment Analysis

In [24]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Superman\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [25]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [26]:
sentanalyzer=SentimentIntensityAnalyzer()

In [29]:
df['Scores']=df['Review'].apply(lambda review: sentanalyzer.polarity_scores(review))

In [30]:
df.head()

,Review,Rating,Positive/Negative,Scores
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co..."
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com..."
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp..."
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com..."
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co..."

In [31]:
df['compound']=df['Scores'].apply(lambda f:f['compound'])

In [32]:
df

,Review,Rating,Positive/Negative,Scores,compound
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797
...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,Positive,"{'neg': 0.063, 'neu': 0.665, 'pos': 0.272, 'co...",0.9834
20487,great location price view hotel great quick pl...,4,Positive,"{'neg': 0.0, 'neu': 0.57, 'pos': 0.43, 'compou...",0.9753
20488,"ok just looks nice modern outside, desk staff ...",2,Negative,"{'neg': 0.131, 'neu': 0.724, 'pos': 0.145, 'co...",0.2629
20489,hotel theft ruined vacation hotel opened sept ...,1,Negative,"{'neg': 0.15, 'neu': 0.671, 'pos': 0.179, 'com...",0.9867
20490,"people talking, ca n't believe excellent ratin...",2,Negative,"{'neg': 0.193, 'neu': 0.668, 'pos': 0.14, 'com...",-0.6071

In [33]:
df['compound_posorneg']= df['compound'].apply(lambda score:'Positive' if score >= 0 else 'Negative')

In [34]:
df

,Review,Rating,Positive/Negative,Scores,compound,compound_posorneg
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747,Positive
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787,Positive
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889,Positive
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912,Positive
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797,Positive
...,...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,Positive,"{'neg': 0.063, 'neu': 0.665, 'pos': 0.272, 'co...",0.9834,Positive
20487,great location price view hotel great quick pl...,4,Positive,"{'neg': 0.0, 'neu': 0.57, 'pos': 0.43, 'compou...",0.9753,Positive
20488,"ok just looks nice modern outside, desk staff ...",2,Negative,"{'neg': 0.131, 'neu': 0.724, 'pos': 0.145, 'co...",0.2629,Positive
20489,hotel theft ruined vacation hotel opened sept ...,1,Negative,"{'neg': 0.15, 'neu': 0.671, 'pos': 0.179, 'com...",0.9867,Positive
20490,"people talking, ca n't believe excellent ratin...",2,Negative,"{'neg': 0.193, 'neu': 0.668, 'pos': 0.14, 'com...",-0.6071,Negative

In [35]:
example = "Hottel was excellent and i enjoyed it"
sentanalyzer.polarity_scores(example)

{'neg': 0.0, 'neu': 0.364, 'pos': 0.636, 'compound': 0.7906}

# Text Classification

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x=df['Review']

In [38]:
y=df['Positive/Negative']

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [40]:
from sklearn.pipeline import Pipeline

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
from sklearn.svm import LinearSVC

In [43]:
textclf=Pipeline([("tfidf",TfidfVectorizer()),("clf",LinearSVC())])

In [44]:
textclf.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [45]:
predictions = textclf.predict(x_test)

In [46]:
predictions

array(['Negative', 'Positive', 'Positive', ..., 'Negative', 'Positive',
       'Positive'], dtype=object)

In [47]:
from sklearn.metrics import accuracy_score

In [48]:
print(accuracy_score(y_test,predictions))

0.9033832140533506

In [49]:
newreview=(["Hotel was perfect we liked it."])

In [50]:
textclf.predict(newreview)

array(['Positive'], dtype=object)